#wonavdao{
  position: relative;
  border-radius: 25px 0 0 25px;
  float: left;
  width: 80%;
  height: 100%;
  background-color: aqua;
}

#wonavdao ul{
  position: relative;
  left: 25px;
  float: left;
  width: 80%;
  height: 100%;
  background-color: black;
  list-style-type: none;
}

#wonavdao li{
  position: relative;
  float: left;
  top: 15%;
  left: 10px;
  width: 80px;
  height: 70%;
  background-color: aquamarine;
}

#wonavdao li p{
  position: relative;
  top: 5px;
  font-size: 20px;
  text-align: center;
}

#wonavdao li:hover{
  color: #FF00FF;
  background-color: aqua;
}

#wonavdao a{
  text-decoration: none;
}

/* 未访问的链接 */
a:link {
  color: #FF0000;
}

/* 已访问的链接 */
a:visited {
  color: #00FF00;
}

/* 鼠标悬停链接 */
a:hover {
  color: #FF00FF;
}

/* 已选择的链接 */
a:active {
  color: #0000FF;
}